// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$teal: #20c997;

$theme-colors: (
	"blue": $blue,
	"indigo": $indigo,
	"purple": $purple,
	"pink": $pink,
	"orange": $orange,
	"teal": $teal
);

$font-size-base: 0.812rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.8;
// $font-family-base: "Open Sans", sans-serif;
$font-family-base: "Poppins", sans-serif;

$input-btn-focus-width: 0.06rem;
$btn-focus-box-shadow: none !important;
$btn-box-shadow: none;
$btn-active-box-shadow: none;

// $secondary: #003147 !default;
// $primary: #03a9f4 !default;
$primary: #d254aa !default;
// $primary: #721c52 !default;

$spacers: (
	10px: 10px,
	20px: 20px,
	30px: 30px,
	40px: 40px,
	50px: 50px,
	60px: 60px
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

body {
	background-color: #f6f7fa;
}

.font-sm {
	font-size: 10px !important;
}

.font-md {
	font-size: 14px !important;
}

.c-pointer {
	cursor: pointer;
}

.outline-0,
.b-icon.bi:focus {
	outline: none;
}

$fontWeightSizes: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $size in $fontWeightSizes {
	.font-weight-#{$size} {
		font-weight: $size !important;
	}
}

.badge {
	font-weight: 500;
}

[class*="badge-outline-"] {
	background: unset;
	border-style: solid;
	border-width: 1px;
	font-size: 65%;
}

.badge-outline-primary {
	border-color: var(--primary);
	color: var(--primary);
}

.badge-outline-secondary {
	border-color: var(--secondary);
	color: var(--secondary);
}

.badge-outline-success {
	border-color: var(--success);
	color: var(--success);
}

.badge-outline-danger {
	border-color: var(--danger);
	color: var(--danger);
}

.badge-outline-warning {
	border-color: var(--warning);
	color: var(--warning);
}

.badge-outline-info {
	border-color: var(--info);
	color: var(--info);
}

.badge-outline-indigo {
	border-color: var(--indigo);
	color: var(--indigo);
}

.badge-outline-purple {
	border-color: var(--purple);
	color: var(--purple);
}

.badge-outline-pink {
	border-color: var(--pink);
	color: var(--pink);
}

.badge-outline-orange {
	border-color: var(--orange);
	color: var(--orange);
}

.badge-outline-teal {
	border-color: var(--teal);
	color: var(--teal);
}

.text-line-through {
	text-decoration: line-through;
}

.w-fit-content {
	width: fit-content;
}

.bg-success-light {
	background-color: #81f66fd7;
}

.bg-warning-light {
	background-color: #fbffd0ab;
}

.bg-danger-light {
	background-color: #ff3737bd;
}

.table {
	tr.border-0 {
		th {
			border: none;
		}
	}
	th {
		@extend .text-nowrap;
	}
	td {
		font-weight: 300;
	}
	&.b-table[aria-busy="true"] {
		opacity: 0.4;
		user-select: none;
	}
}
